nav {
    background-color: tan;
    background: linear-gradient(30deg, #fdcd3b 60%, #ffed4b 60%);
    font-family: "Grafier";
    font-weight: "100";
    font-size: 120%;
}

body {
    font-family: "Agrandir";
    font-variant: "Agrandir Wide Light";
    font-size: 120%;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 120%;
}
    
h1,h2,h3,h4 {
    font-family: "Monument Extended";
    font-size: 120%;
}
